In [1]:
import pandas as pd

In [3]:
print(pd.__version__)

1.0.1

In [4]:
import numpy as np

In [5]:
arr=np.array([1,2,3])
df=pd.Series(arr)
df

0    1
1    2
2    3
dtype: int64

In [6]:
arr=[1,2,3]
df=pd.Series(arr)
df

0    1
1    2
2    3
dtype: int64

In [7]:
arr={"num":"1","name":"2"}
df=pd.Series(arr)
df

num     1
name    2
dtype: object

In [11]:
arr=np.array([1,2,3])
df1=pd.Series(arr)
arr=[14,23,34]
df2=pd.Series(arr)
df1.append(df2)

0     1
1     2
2     3
0    14
1    23
2    34
dtype: int64

In [13]:
#How to get the items of series A not present in series B?
arr=np.array([1,2,3])
df1=pd.Series(arr)
arr=[1,23,34]
df2=pd.Series(arr)
filt=(df1!=df2)
df2[filt]
df1[filt]

1    2
2    3
dtype: int64

In [14]:
#another way to do above
df1[~df1.isin(df2)]

1    2
2    3
dtype: int64

In [15]:
# How to get the items not common to both series A and series B?
df2[filt].append(df1[filt])
(df1[~df1.isin(df2)]).append(df2[~df2.isin(df1)])

1     2
2     3
1    23
2    34
dtype: int64

In [16]:
df2[filt].append(df1[filt])

1    23
2    34
1     2
2     3
dtype: int64

In [17]:
# How to get the minimum, 25th percentile, median, 75th, and max of a numeric series
arr=np.arange(10)
df1=pd.Series(arr)
df1.min()

0

In [18]:
df1.mean()

4.5

In [19]:
df1.median()

4.5

In [20]:
df1.describe()

count    10.00000
mean      4.50000
std       3.02765
min       0.00000
25%       2.25000
50%       4.50000
75%       6.75000
max       9.00000
dtype: float64

In [21]:
np.percentile(df1, q = [0, 25, 50, 75, 100])

array([0.  , 2.25, 4.5 , 6.75, 9.  ])

In [22]:
#How to get frequency counts of unique items of a series?
arr=[1,1,1,2,2,3,4,5,6,6]
df=pd.Series(arr)
df.value_counts()

1    3
6    2
2    2
5    1
4    1
3    1
dtype: int64

In [23]:
#How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
df[~df.isin(df.value_counts().index[:2])]='Other'

In [24]:
df

0        1
1        1
2        1
3    Other
4    Other
5    Other
6    Other
7    Other
8        6
9        6
dtype: object

In [26]:
#How to convert a numpy array to a dataframe of given shape? (L1)
df=pd.Series(np.arange(10))
df.values.reshape(5,2)

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [27]:
#How to find the positions of numbers that are multiples of 3 from a series?
df=pd.Series(np.arange(10))
filt=df%3==0
df[filt].index

Int64Index([0, 3, 6, 9], dtype='int64')

In [29]:
#How to extract items at given positions from a series
df=pd.Series(np.arange(10))
pos=[0,2,3,4]
df.loc[pos]

0    0
2    2
3    3
4    4
dtype: int64

In [30]:
#How to stack two series vertically and horizontally ?
df1=pd.Series(np.arange(10))
df2=pd.Series(np.arange(10))
df1.append(df2)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [32]:
pd.concat([df1,df2],axis=1)

   0  1
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6
7  7  7
8  8  8
9  9  9

In [33]:
#How to get the positions of items of series A in another series B
df1=pd.Series(np.array([1,2,3,4]))
df2=pd.Series(np.array([3,2,6,7]))
df1[df1.isin(df2)].index

Int64Index([1, 2], dtype='int64')

In [36]:
#How to convert the first character of each element in a series to uppercase?
df = pd.Series(['just', 'a', 'random', 'list'])
df.map(lambda x: x[0].upper()+x[1:])

0      Just
1         A
2    Random
3      List
dtype: object

In [37]:
#How to calculate the number of characters in each word in a series?
df = pd.Series(['just', 'a', 'random', 'list'])
df.map(len)

0    4
1    1
2    6
3    4
dtype: int64